/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style: none;
}

.gray {
  color: #878787;
}

.gray:hover {
  color: white;
}

/* MAIN */
main {
  height: calc(100vh - 90px);
}

/* NAV */
nav {
  float: left;
  width: 230px;
  height: 100%;
  background-color: black;
}

nav .nav-top {
  height: calc(100% - 80px);
  background-color: turquoise;
}

nav .nav-top .nav-logo-mobile {
  display: none;
}

/* SECTION */
section {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
}

section .call-to-action {
  position: fixed;
  z-index: 99;
  width: calc(100% - 230px);
  height: 90px;
  color: rgba(255, 0, 0, 0.4);
}

section .covers {

}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.footer-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: blueviolet;
}

.footer-item:first-child,
.footer-item:last-child {
  width: 230px;
}

.footer-item:nth-child(2) {
  max-width: 530px;
  flex-direction: column;
  justify-content: center;
}

/* FOOTER-LEFT */
.footer-item img {
  width: 42px;
}

.footer-item p {
  font-size: 10px;
  display: inline;
}

.footer-left p {
  margin-right: 50px;
}

/* FOOTER-CENTER */
/* FOOTER-TOP */
.footer-top ul li{
  display: inline;
}

.footer-top ul li:nth-child(3) {
  font-size: 30px;
}

.footer-top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

/* FOOTER_BOTTOM */
.footer-bottom {
  width: 530px;
  text-align: center;
}

.progression-bar {
  width: 20vw;
  height: 4px;
  background-color: #5A5A5A;
  border-radius: 10px;
  display: inline-block;
  margin: 0 2%;
}

/* FOOTER-RIGHT */
.volume-bar {
  width: 120px;
  height: 4px;
  background-color: #5A5A5A;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  nav .nav-top .nav-logo-mobile {
    display: block;
  }

  nav .nav-top .nav-logo {
    display: none;
  }

  nav {
    width: 50px;
  }

  main section {
    width: calc(100% - 50px);
  }
}