/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style: none;
}

.display-none {
  display: none;
}

.gray {
  color: #878787;
  transition: 0.2s;
}

.gray:hover {
  color: white;
}

/* ICONS */
.fas,
.far {
  cursor: pointer;
}

/* MAIN */
main {
  height: calc(100vh - 90px);
}

/* NAV */
nav {
  float: left;
  width: 230px;
  height: 100%;
  background-color: black;
}

/* NAV-TOP */
nav .nav-top {
  height: calc(100% - 80px);
}

nav .nav-top .nav-logo img {
  width: 130px;
  margin: 20px;
}

nav .nav-top .nav-logo-mobile img {
  margin: 5px 10px;
}

/* NAV-SELECT */
nav .nav-top .nav-select {
  height: 105px;
}

nav .nav-top .nav-select li {
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: 23px;
  font-size: 10px;
  font-weight: 700;
  transition: 0.2s;
}

nav .nav-top .nav-select li:hover {
  background-color: #363636;
}

nav .nav-top .nav-select li:hover img {
  filter: brightness(1);
}

nav .nav-top .nav-select li:hover span {
  color: white;
}

nav .nav-top .nav-select li img {
  width: 20px;
  margin-right: 8px;
  transition: 0.1s;
}

nav .nav-top .nav-select li span {
  transition: 0.1s;
}

.nav-select .active {
  color: white;
  border-left: 3px solid #adff2f;
}

.nav-select .inactive {
  color: #717171;
}

.nav-select .inactive img {
  filter: brightness(0.4);
}

.nav-select .inactive-img {
  filter: brightness(0.4);
}

/* PLAYLIST */
.playlist {
  padding: 0 23px;
  height: calc(100% - 185px);
  overflow: hidden;
}

.playlist h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.playlist p {
  color: #717171;
  margin: 25px 0;
  font-size: 12px;
  font-weight: 600;
  transition: 0.2s;
}

.playlist .playlist-creation {
  display: flex;
  align-items: center;
}

.playlist .playlist-creation:hover p{
  color: white;
}

.playlist .playlist-creation:hover span.playlist-plus {
  background-color: white;
}

.playlist .playlist-plus {
  font-size: 28px;
  font-weight: 700;
  padding: 0 9px;
  margin-right: 10px;
  color: black;
  background-color: #a3a3a3;
}

.playlist ul.menu-playlist {
  height: calc(100% - 150px);
  min-height: 60px;
  overflow-y: auto;
}

.playlist ul.menu-playlist p:hover {
  color: white;
}

/* NAV-BOTTOM */
.nav-bottom {
  height: 80px;
  width: 230px;
  padding: 10px 20px;
}

.nav-bottom .nav-bottom-piece {
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.nav-bottom .nav-bottom-piece:first-child {
  border-bottom: 1px solid #717171;
}

.nav-bottom .nav-bottom-piece a {
  display: flex;
  align-items: center;
}

.nav-bottom .nav-bottom-piece a * {
  margin: 0 5px;
}

.nav-bottom .nav-bottom-piece span:hover {
  color: white;
}

.nav-bottom img:first-child {
  width: 18px;
}

.nav-bottom img.profile-picture {
  background-color: #878787;
  border-radius: 100px;
  width: 25px;
  margin-top: 5px;
}

.nav-bottom span {
  font-size: 10px;
  font-weight: 700;
  color: #717171;
}

.nav-bottom span.profile-text {
  color: white;
}

/* SECTION */
section {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
}

/* CAL-TO-ACTION */
section .call-to-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 98;
  width: calc(100% - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
}

section .call-to-action a {
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  margin-right: 30px;
  transition: 0.2s;
}

section .call-to-action a:hover {
  transform: scale(1.1);
}

/* MENU-COVERS */
section .covers .menu-covers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

section .covers .menu-covers > * {
  margin: 10px;
}

section .covers .menu-covers a {
  text-transform: uppercase;
  font-weight: 700;
  color: #7D7F84;
  transition: 0.1s;
}

section .covers .menu-covers a:hover{
  color: white;
}

section .covers .menu-covers .active {
  width: 30px;
  margin: 0 auto;
  border-bottom: 2px solid #adff2f;
}

/* RECENTLY-PLAYED */
.section-piece {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.box-title {
  margin: 20px 0;
}

.box-title p {
  color: #717171;
  font-weight: 700;
  font-size: 12px;
}

.box-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.song-box {
  width: calc(100% / 7);
  max-width: 200px;
  text-align: center;
  margin-bottom: 20px;
}

.song-box .song-cover {
  width: 100%;
  position: relative;
  
}

.song-box .song-cover img {
  width: 100%;
}

.song-box .song-cover .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.song-box .song-cover:hover img {
  filter: brightness(0.6);
}

.song-box .song-cover:hover .play-button {
  display: inline-block;
}

.song-box h5 {
  margin: 10px 0;
  font-size: 12px;
}

.song-box p {
  font-size: 10px;
  color: #717171;
}

/* CREATED-FOR */
.created-for h2 {
  margin: 10px 0;
}

.created-for .box-wrapper {
  justify-content: flex-start;
}

.created-for .song-box {
  margin-right: 2%;
}

/* ARTISTS */
.artists h2 {
  margin: 10px 0;
}

.artists .box-wrapper {
  justify-content: flex-start;
}

.artists .song-box {
  margin-right: 2%;
}

.artists .song-box img {
  border-radius: 50%;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.footer-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.footer-item:first-child,
.footer-item:last-child {
  width: 230px;
}

.footer-item:nth-child(2) {
  max-width: 530px;
  flex-direction: column;
  justify-content: center;
}

/* FOOTER-LEFT */
.footer-item img {
  width: 42px;
}

.footer-item p {
  font-size: 10px;
  display: inline;
}

.footer-left p {
  margin-right: 50px;
}

.footer-left > * {
  margin: 2px;
}

/* FOOTER-CENTER */
.footer-center {
  width: 100%;
}

/* FOOTER-TOP */
.footer-top ul li {
  display: inline;
}

.footer-top ul li:nth-child(3) {
  font-size: 30px;
  transition: 0.2s;
}

.footer-top ul li:nth-child(3):hover {
  transform: scale(1.3);
}

.footer-top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

/* FOOTER_BOTTOM */
.footer-bottom {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}

.progression-bar {
  width: 70%;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 10px;
  display: inline-block;
  margin: 0 2%;
}

.white-bar {
  position: relative;
  width: 30%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  transition: 0.1s;
  cursor: pointer;
}

.white-bar:hover {
  background-color: #adff2f;
}

.cursor {
  position: absolute;
  right: 0;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 2px black;
  opacity: 0;
  transition: 0.1s;
}

.cursor:hover {
  opacity: 1;
}

/* FOOTER-RIGHT */
.footer-right > * {
  margin: 5px;
}

.volume-bar {
  width: 100%;
  min-width: 50px;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  /* NAV */
  nav .nav-top .nav-logo-mobile {
    display: block;
  }

  nav .nav-top .nav-logo {
    display: none;
  }

  nav {
    width: 50px;
  }

  nav .nav-top .nav-select .display-none {
    display: block;
    width: 20px;
    margin: 15px auto;
  }

  nav .nav-top .nav-select .active,
  nav .nav-top .nav-select .inactive {
    display: none;
  }

  .playlist {
    display: none;
  }

  .nav-bottom {
    width: 50px;
    padding: 10px 0;
    text-align: center;
  }

  .nav-bottom .nav-bottom-piece {
    display: none;
  }

  .nav-bottom .nav-bottom-piece-mobile {
    display: block;
  }

  /* SECTION */
  main section {
    width: calc(100% - 50px);
  }

  section .call-to-action {
    width: calc(100% - 50px);
  }

  /* RECENTLY-PLAYED */
  .song-box {
    width: 50%;
  }
}

@media (max-width: 700px) {
  /* RECENTLY-PLAYED */
  .song-box {
    width: 48%;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .recently-played .box-wrapper {
    justify-content: flex-start;
  }

  /* RECENTLY-PLAYED */
  .song-box {
    width: 23%;
    margin-right: 8px;
  }
}